@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0%;
    font-family: "Urbanist", sans-serif;

}

body {
    background-color: #ffeef0cd;
    text-decoration: none;


}

/* for navbar */
.main-nav {
    z-index: 3;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(194, 191, 191, 0.103);

}

.logo {
    height: 43px;
    width: 169px;
    object-fit: cover;
    object-position: center;
}

.search-icon {
    margin-left: 2rem;
    text-decoration: none;
    font-size: 17px;
    font-family: "Urbanist", sans-serif;
    color: #FF6481;
}

.search-text {
    color: black;
    margin-left: 10px;
}

.sidebar {
    margin-right: 2rem;
    height: 29px;
    width: 29px;
    cursor: pointer;
}

#sidebar:hover {
    transform: scale3d(1.1, 1.1, 1);
    transition: ease-in 0.4s;
}

@media (max-width:750px) {
    .logo {
        height: 36px;
        width: 139px;
        object-fit: cover;
        object-position: center;
    }

    .search-text {
        color: black;
        display: none;
    }
}

@media (max-width:450px) {
    .logo {
        height: 27px;
        width: 110px;
        object-fit: cover;
        object-position: center;
    }

    .search-text {
        color: black;
        display: none;
    }
}

@media (max-width:350px) {
    .logo {
        height: 20px;
        width: 90px;
        object-fit: cover;
        object-position: center;
    }

    .search-text {
        color: black;
        display: none;
    }

    .sidebar {
        margin-right: 1rem;
    }

    .search-icon {
        margin-left: 1rem;
    }
}


/* //for searcch bar appear */

.searchApper {
    font-family: "urbanist" sans-serif;
    position: fixed;
    top: 40%;
    /* Vertically center */
    left: 50%;
    /* Horizontally center */
    transform: translate(-50%, -50%);
    /* Adjust for centering */
    height: 70px;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 999;
    display: none;
}

.take-in-and-search {
    width: 90%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#searchShow {
    padding: 20px;
    border: none;
    width: 100%;
    font-size: medium;
    font-family: "urbanist" sans-serif;
    color: #282424;
}

#searchShow:focus {
    outline: none;
}

input::placeholder {
    font-size: 16px;
    color: #888889;
}

.cancle {
    margin-right: 10px;
    display: none;
}

.s-icon {
    padding-left: 2rem;
}

#search-icon {
    font-size: 19px;
    color: #FF6481;
}

.blur {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Adjust for centering */
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);
    background-color: #514c4c7c;
    display: none;
    z-index: 90;

}




/* //forsidebar */

/* using the categori icon for reletive */

#sidebar {
    position: relative;
}


.siderBar-appear {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 500px;
    min-width: 370px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    z-index: 9999;
    display: none;
    overflow: auto;
}

.for-side-logo {
    margin-top: 4rem;
}

.list-of-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 3rem;
    gap: 13px;
}

.links {
    text-decoration: none;
    color: #282424;
    padding: 15px;
}

.links:hover {
    text-decoration: underline #282424;
}

.lo-and-sub {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.log-in {
    text-decoration: none;
    height: 26px;
    width: 100px;
    margin-right: 1rem;
    color: #282424;
    font-weight: 500;
}

.log-in:hover {
    color: #FF6481;
}

.subscribe {
    text-decoration: none;
    height: 34px;
    width: 143px;
    background-color: #FF6481;
    color: white;
    padding: 5px 22px;
    border-radius: 3px;
}

.subscribe:hover {
    background-color: #282424;

}

/* icon for closing sidebar */
.icon-close {
    padding: 10px 15px;
    font-weight: lighter;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #FF6481;
    color: white;
    position: absolute;
    top: 10%;
    right: 0;
    transition: .3s ease-in-out;

}

.icon-close:hover {
    padding-right: 26px;
    transition: .3s ease-in-out;
}

.dark {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.358);
    pointer-events: none;
    display: none;
    z-index: 100;
}


/* from here started body content  */
#main-1 {
    padding-left: 1.4rem;
    right: 2rem;
    padding-top: 4rem;
}

.introducton {
    padding-top: 5rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Urbanist", sans-serif;
    gap: 30px;
}

.intro {
    width: 66%;
    /* margin-left: 3rem; */
}

.name {
    margin-top: -2rem;
    font-size: 30px;
    font-family: "Urbanist", sans-serif;
    padding-bottom: 2rem;
}

.clr-name {
    color: #FF6481;
    font-weight: 700;
}

.about {
    font-size: 17px;
    color: #282424;
    line-height: 30px;
    font-family: "Urbanist", sans-serif;
    padding-bottom: 2rem;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 2rem; */
}


.hero {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    animation-name: dance;
    animation-duration: 20s;
    animation-timing-function: linear;
    /* Use linear timing function for smoothness */
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes dance {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        /* Start with a circular shape */
    }

    20% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70% ;
        /* Keep it circular during the animation */
    }

    40% {
        border-radius: 59% 41% 62% 38% / 51% 52% 48% 49% ;
        /* Still circular */
    }

    60% {
        border-radius:37% 63% 53% 47% / 51% 34% 66% 49% ;
        /* Maintain circularity */
    }

    80% {
        border-radius: 46% 54% 66% 34% / 51% 34% 66% 49% ;
        /* End with a circular shape */
    }

    100% {
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    }
}

.input-div {
    margin-top: 3rem;
    height: 54px;
    width: 99%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.connet-p {
    position: absolute;
    top: -2rem;
    left: 0;
    padding-bottom: 1rem;

}

.connet {

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #282424;
    overflow: hidden;
}

#email {
    width: 70%;
    height: 50px;
    border: none;
    margin-left: 1rem;
}

#email:focus {
    outline: none;
}

#btn {
    margin-right: .40rem;
    width: 144px;
    height: 44px;
    padding: 5px 22px;
    border: none;
    color: rgba(255, 255, 255, 0.864);
    background-color: #FF6481;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    transition: 0.2s ease-in;

}

#btn:hover {

    background-color: #000;
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media(min-width:780px) {
    #introducton {
        height: 100%;
        /* Set the height to 100% of the viewport height */
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: "Urbanist", sans-serif;
        gap: 30px;
        overflow: hidden;
    }

    .intro {
        margin-left: 3rem;
    }



    .input-div {
        margin-top: 3rem;
        margin-bottom: 4rem;
        height: 54px;
        width: 99%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        position: relative;
        z-index: 1;
    }



}


/* for topics */

.tranding-topic {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Urbanist", sans-serif;
    position: relative;
}

.tranding-topics-header {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #282424;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.tranding-topics-header .fa-bolt {
    color: #FF6481;
}

.topic-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    transition: .3s ease-in;


}

.topic-img:hover {

    border: 4px solid #f25572a5;
    transition: .3s ease-in;

}

.after-added {
    color: #282424;
}

.after-added:hover {
    color: #fd6f89
}

.topic-name {
    position: absolute;
    bottom: -2.3rem;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 600;
    font-size: 14px;
    padding-top: .50rem;
}

.topic-img-div {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;

}

.post-count {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #f8f1f1;
    background-color: #FF6481;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -.11rem;
    font-family: "Urbanist", sans-serif;

}

.all-topic-in-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 150px;
    background-color: #ffff;
    border-radius: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#topic-container-last {
    display: none;
}

#main-2 {
    margin: 0;
    padding: 0;
}

@media(max-width:780px) {
    #introducton {
        margin-top: 5rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Urbanist", sans-serif;
        gap: 50px;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    #main-1 {
        margin-right: 1rem;
    }

    .intro {
        margin-top: 4rem;
        padding-bottom: 4rem;
        width: 100%;
        height: 100%;
        padding: 0px 17px;
        padding-right: 1rem;
    }

    .input-div {
        margin-top: 3rem;
        margin-bottom: 4rem;
        height: 54px;
        width: 99%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        position: relative;
        z-index: 1;
    }



}


/* for topics */

.tranding-topic {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Urbanist", sans-serif;
    position: relative;
}

.tranding-topics-header {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #282424;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.tranding-topics-header .fa-bolt {
    color: #FF6481;
}

.topic-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
}

.topic-name {
    position: absolute;
    bottom: -2.3rem;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 600;
    font-size: 14px;
    padding-top: .50rem;
}

.topic-img-div {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;

}

.post-count {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #f8f1f1;
    background-color: #FF6481;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -.11rem;
    font-family: "Urbanist", sans-serif;

}

.all-topic-in-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 150px;
    background-color: #ffff;
    border-radius: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#topic-container-last {
    display: none;
}

#main-2 {
    margin: 0;
    padding: 0;
}

@media(min-width:1300px) {
    .tranding-topic {
        padding-top: 5rem;
        padding-bottom: 4rem;
        height: 50%;
        width: 60%;
        margin: auto;
        font-family: "Urbanist", sans-serif;
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:800px) {
    .tranding-topic {
        padding-top: 5rem;
        padding-bottom: 4rem;
        height: 100%;
        width: 100%;
        font-family: "Urbanist", sans-serif;
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .all-topic-in-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        width: 100%;
        height: 340px;
        background-color: #ffff;
        align-self: center;
        border-radius: 0%;
    }

    .topic-img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        position: relative;
    }

    .topic-name {
        position: absolute;
        bottom: -2.3rem;
        left: 50%;
        transform: translate(-50%, -50%);

        font-weight: 600;
        font-size: 14px;
        padding-top: .30rem;
    }

    .post-count {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: #f8f1f1;
        background-color: #FF6481;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -.11rem;
        font-family: "Urbanist", sans-serif;

    }

    #topic-container-last {
        display: flex;
    }

}

@media(max-width:360px) {
    .tranding-topic {
        padding-top: 5rem;
        padding-bottom: 4rem;
        height: 100%;
        width: 100%;
        font-family: "Urbanist", sans-serif;
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #all-topic-in-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        height: 100%;
        background-color: #ffff;
        align-self: center;
        border-radius: 0%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .topic-img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        position: relative;
    }

    .topic-name {
        position: absolute;
        bottom: -2.3rem;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 14px;
        padding-top: .30rem;
    }

    .post-count {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: #f8f1f1;
        background-color: #FF6481;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -.11rem;
        font-family: "Urbanist", sans-serif;

    }

    #topic-container-last {
        display: flex;
    }

    .tranding-topics-header {
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

}



/* for post divs */
.post-container {
    height: 100%;
    width: 100%;

}

.posts-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.post-1 {
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    gap: 30px;
    border-radius: 15px;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}


.tag-above-img:hover {
    padding: 10px 30px;
    transition: .3s ease-in;
}

.post-img {
    height: 299px;
    width: 266px;
    border-radius: 15px;
}


#main-3 {
    margin: 4rem;
    padding: 0;
}

/* .read-time{
    display: flex;
    justify-content:start;
    align-items:flex-start;
    gap: 20px;
} */
.about-post-1 {
    width: 70%;
    height: 299px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-family: "Urbanist", sans-serif;
    text-decoration: none;

}

.clock {
    font-size: medium;
    color: #FF6481;
}

.time-to-read {
    margin-bottom: 2rem;
    font-size: 14px;
    color: #727070;
}

.title {
    font-size: 24px;
    color: #282424;
    font-weight: 800;
    margin-bottom: 2rem;
}

.post-content {
    line-height: 30px;
    color: #282424;
}

.tags-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags-in-post {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tag-1 {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    color: #282424;
}

.tag-1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    text-align: center;
    height: 6px;
    width: 6px;
    background-color: rgb(9, 207, 207);
    border-radius: 50%;
    transition: .2s ease-in;
}

.tag-1:hover::before {
    height: 7px;
    width: 10px;
    transition: .2s ease-in;
    border-radius: 50%;
    /* Adjust color opacity on hover if needed */
}

.tag-2 {
    color: #282424;
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    position: relative;

}

.tag-2::before {
    content: '';
    position: absolute;
    top: 40%;
    left: -15px;
    text-align: center;
    height: 6px;
    width: 6px;
    background-color: rgb(207, 9, 151);
    border-radius: 50%;
    transition: .2s ease-in;

}

.tag-2:hover::before {
    height: 7px;
    width: 10px;
    transition: .2s ease-in;
    background-color: rgb(207, 9, 151);
    border-radius: 50%;

    /* Adjust color opacity on hover if needed */
}

.authors-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    gap: 10px;
    margin-right: 1rem;
    text-decoration: none;
}

.author-name {
    font-size: 14px;
    font-weight: 600;
    color: #282424;
    margin-right: 1rem;
}

.author-name:hover {
    color: #FF6481;
    cursor: pointer;
}

.author-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;


}

.post-img-1 {
    height: 299px;
    width: 266px;
    position: relative;
}

.tag-above-img {
    position: absolute;
    top: 20%;
    padding: 10px 25px;
    background-color: rgb(8, 165, 165);
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .3s ease-in;
}

/* changes for diffrent post imges nad and tags this is the boundry */

.title:hover {
    text-decoration: underline #282424;
}

.post-2-above-img {
    position: absolute;
    top: 20%;
    padding: 10px 25px;
    background-color: rgb(230, 106, 230);
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .3s ease-in;

}

.post-2-above-img:hover {
    padding: 10px 30px;
    transition: .3s ease-in;
}

.post-3-above-img {
    position: absolute;
    top: 20%;
    padding: 10px 25px;
    background-color: rgb(47, 202, 241);
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .3s ease-in;
}


.post-5-above-img {
    position: absolute;
    top: 20%;
    padding: 10px 25px;
    background-color: rgb(114, 114, 242);
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .3s ease-in;
}

.post-6-above-img {
    position: absolute;
    top: 20%;
    padding: 10px 25px;
    background-color: rgb(248, 158, 173);
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .3s ease-in;
}




/* boundry end here for some chanes  */

/* @media(min-width:790px){
    #post-1{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
} */
@media(min-width:1300px) {
    .post-1 {
        height: 70%;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        gap: 80px;
        padding: 10px 5px 5px 5px;
        margin: 2rem;
        text-decoration: none;
        margin: auto;
        position: relative;
    }

    .post-img-1 {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .about-post-1 {
        position: relative;
        width: 60%;
        margin-left: 15rem;
        height: 299px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        font-family: "Urbanist", sans-serif;
        text-decoration: none;
    }

}

@media(max-width:790px) {
    .post-container {
        height: 100%;
        width: 100%;

    }

    .posts-div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-1 {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 10px;
        padding: 10px 5px 5px 5px;
        margin: 2rem;
        flex-direction: column;
        text-decoration: none;
    }

    .tag-above-img {
        position: absolute;
        top: 20%;
        padding: 10px 25px;
        background-color: rgb(8, 165, 165);
        color: white;
        font-size: 14px;
        font-family: "Urbanist", sans-serif;
        font-weight: 700;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        transition: .3s ease-in;

    }

    .tag-above-img:hover {
        padding: 10px 30px;
        transition: .3s ease-in;
    }

    .post-img {
        height: 340px;
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
    }

    .post-img-1 {
        height: 340px;
        width: 97%;
    }

    #main-3 {
        margin: 1rem;
        padding: 0;
    }

    /* .read-time{
        display: flex;
        justify-content:start;
        align-items:flex-start;
        gap: 20px;
    } */
    #about-post-1 {
        margin-top: -2rem;
        width: 70%;
        height: 299px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Urbanist", sans-serif;
        text-align: center;
        text-decoration: none;
    }

    .clock {
        font-size: medium;
        color: #FF6481;
    }

    .time-to-read {
        padding-top: 2rem;
        font-size: 14px;
        color: #727070;
        text-decoration: none;

    }

    .title {
        text-decoration: none;

        font-size: 24px;
        color: #282424;
        font-weight: 800;
    }

    .post-content {
        text-decoration: none;
        line-height: 30px;
        color: #282424;
    }

    .tags-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }

    .authors-div {
        display: none;
    }


}

@media(max-width:500px) {
    .post-1 {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 10px;
        padding: 10px 5px 5px 5px;
        margin: 2rem;
        flex-direction: column;
        text-decoration: none;
    }

    #about-post-1 {
        margin-top: 1rem;
        width: 80%;
        height: 299px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Urbanist", sans-serif;
        text-align: center;
        text-decoration: none;
    }

    .clock {
        font-size: medium;
        color: #FF6481;
    }

    #time-to-read {
        font-size: 14px;
        color: #727070;
        text-decoration: none;

    }

    #title {
        text-decoration: none;
        font-size: 18px;
        color: #282424;
        font-weight: 800;
    }

    .post-content {
        text-decoration: none;
        line-height: 20px;
        font-size: 15px;
        color: #282424;
        padding-bottom: 1rem;
    }
}

@media(max-width:300px) {
    .post-1 {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 10px;
        padding: 10px 5px 5px 5px;
        margin: 1rem;
        flex-direction: column;
        text-decoration: none;
    }

    #about-post-1 {
        margin-top: 1rem;
        width: 100%;
        height: 299px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Urbanist", sans-serif;
        text-align: center;
        text-decoration: none;
    }

    .clock {
        font-size: medium;
        color: #FF6481;
    }

    #time-to-read {
        font-size: 14px;
        color: #727070;
        text-decoration: none;

    }

    #title {
        text-decoration: none;
        font-size: 16px;
        color: #282424;
        font-weight: 800;
    }

    .post-content {
        text-decoration: none;
        line-height: 20px;
        font-size: 13px;
        color: #282424;
        padding-bottom: 1rem;
    }
}


/* here start the next page btn  */

.page-count-container {
    height: auto;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "urbanist" sans-serif;


}

.page-count {
    font-size: 15px;
    font-weight: 500;
    color: #282424;

}

.next-btn {
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    background-color: #FF6481;
    text-align: center;
    border-radius: 3px;
    transition: .3s ease-in;

}
#prevBtn{
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    background-color: #FF6481;
    text-align: center;
    border-radius: 3px;
    transition: .3s ease-in;
}
#prevBtn:hover{
    background-color: #282424;
    transition: .1s ease-in;
}
.next-btn:hover {
    background-color: #282424;
    transition: .1s ease-in;

}

/* for adds */
#main-last {
    margin: 0;
    padding: 0;
}

.premium-adds {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 160, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.premium-adds {
    --mask:
        radial-gradient(54.08px at 50% 75px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
        radial-gradient(54.08px at 50% -45px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
        radial-gradient(54.08px at 50% calc(100% - 75px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
        radial-gradient(54.08px at 50% calc(100% + 45px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

}


.title-membership {
    font-family: "urbanist" sans-serif;
    font-size: 30px;
    color: rgb(253, 236, 236);
    font-weight: 800;
    margin-bottom: 2rem;

}

.premium-facility {
    font-size: 19px;
    color: #140e0e;
    line-height: 30px;
    width: 80%;
}

.see-plan {
    padding-right: 3rem;
    text-align: center;
}

.try-premium {
    font-size: 16px;
    margin-bottom: 2rem;
    color: #443333;
}

.see-plans-btn {
    padding: 18px 45px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #262020;
    border-radius: 3px;

}

.see-plans-btn:hover {
    background-color: black;
}

.about-premium {
    margin-left: 2rem;
}

@media(max-width:740px) {
    .premium-adds {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        text-align: center;
        overflow: hidden;
        background-color: #fd6f89;
    }

    .see-plan {
        text-align: center;
        padding-right: 0px;

    }

    .about-premium {
        margin-left: 0rem;
    }

    .premium-facility {
        font-size: 19px;
        color: #140e0e;
        line-height: 30px;
        width: 100%;
        text-align: center;

    }
}

/* here start the footer option */
#main-very-last {
    margin: 0;
    padding: 0;
}

.footer-container {
    height: 100%;
    width: 100%;
}

.all-div {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 80px;
}

.followus {
    font-size: 20px;
    margin-bottom: 2rem;
    color: #282424;
    font-weight: 700;
}

.talking {
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
    color: #262020;
    margin-top: 1.5rem;

}

.whatsapp-icon {
    margin-left: 3rem;
    padding-left: 2rem;
    margin-bottom: -12px;
}

.link-and-icon {
    height: 40px;
}

.fa-links {
    font-size: 20px;
    color: #000;
    margin-left: 3rem;
}

.talking:hover {
    color: #fd6f89;
}

.quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.q-link-follow {
    font-size: 20px;
    color: #262024;
    font-weight: 800;
}

.links-of-footer {
    text-decoration: none;
    color: #262020;
    font-size: 15px;
}

.links-of-footer:hover {
    color: #fd6f89;
}

.subscriber-email-op-foot {
    width: 40%;
    margin-left: 5rem;
}

.about-subscriptio-foot {
    font-size: 16px;
    color: #443333;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.input-div-foot {
    margin-top: 2rem;
    height: 66px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

#email-foot {
    height: 65px;
    border: none;
    outline: none;
    margin-left: 1rem;
    width: 80%;

}

#btn-foot {
    border-radius: 3px;
    margin-right: 8px;
    height: 58px;
    width: 130px;
    color: white;
    background-color: #fd6f89;
    border: none;
    font-weight: 500;
    font-size: 14px;
    transition: .2s ease-in;

}

#btn-foot:hover {
    background-color: #000;
    transition: .2s ease-in;
}

.last-speach {
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    text-align: center;
}


@media(max-width:990px) {
    .footer-container {
        height: 100%;
        width: 100%;
    }

    .all-div {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 40px;
    }
}

@media(max-width:750px) {
    .footer-container {
        height: 100%;
        width: 100%;
    }

    .all-div {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        gap: 40px;

    }

    .subscriber-email-op-foot {
        width: 100%;
        text-align: center;
        margin: 1rem;

    }
}














/* here now i style for tag page 1 and 2 */

.about-life-tag-1 {
    padding-top: 6rem;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.life-tag-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.about-life-tag-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
}

.details-about-life {
    width: 50%;
}

.lifes-logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.lifeStyle {
    font-size: 25px;
    color: #262024;
    font-weight: 800;
    margin-bottom: 4px;
}

.LifeStyle-post-count {
    color: #443333;
    font-size: 14px;
}

.details-about-life {
    border-left: 2px solid #d0a6a689;
}

.explin-life-tag {
    margin-left: 2rem;
    font-size: 14px;
    color: #262020;
    line-height: 25px;
}

@media(max-width:700px) {
    .about-life-tag-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .life-tag-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }

    .details-about-life {
        width: 100%;

    }

    .details-about-life {
        border-left: 0px solid #d0a6a689;
    }

    .LifeStyle-tags {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .explin-life-tag {
        margin-left: 0rem;
        font-size: 14px;
        color: #262020;
        line-height: 25px;
    }

}








/* here tarts for page 1  stle😀 */
#p1-main {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.posts-1-page {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.post-page-detail {
    height: 100%;
    width: 88%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content-of-p1 {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.main-content-of-p1-post-4{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media(max-width:850px) {
    .main-content-of-p1 {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .img-p1-contain {
        height: 100%;
        width: 100%;
    }

    .p1-img {
        height: 100%;
        width: 90%;
        border-radius: 20px;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .p1-title {
        font-size: 25px;
        font-weight: 800;
        color: #282424;
        width: 100%;
        text-align: center;

    }

    .post-page-detail {
        height: 100%;
        width: 100%;
        background-color: white;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.p1-post-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.p1-title {
    font-size: 25px;
    font-weight: 800;
    color: #282424;
    width: 50%;
    text-align: center;

}

#cal-icon {
    color: #fd6f89;
}

.p1-publish-date {
    color: #727070;
    font-size: 15px;
}

.p1-img {
    height: 70%;
    width: 50%;
    border-radius: 20px;
    padding: 1rem;
}





/* for f]page contents */
.p1-contentns-write {
    height: 100%;
    width: 90%;
    text-align: center;
    margin-top: 4rem;
}

.p1-portal-img {
    margin-top: 4rem;
    height: 60%;
    width: 50%;
    border-radius: 4px;
}

.p1-portal-caption {
    margin-top: .39rem;
    color: #262024;
    font-size: 15px;
    margin-bottom: 2rem;
    font-weight: 500;
}

.showcase-img {
    height: 300px;
    width: 266px;
    border-radius: 5px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in;

}

.showcase-img:hover {
    transform: translateY(-5px);
    transition: .3s ease-in;
}

.all-p1-icons {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    gap: 15px;
}

.Shear-article-with {
    margin-right: 1rem;
    font-size: medium;
    font-weight: 600;
    color: #282424;
}

.p1-icons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: .2s ease-in;

}

.p1-icons:hover {
    transform: translateY(-4px);
    transition: .2s ease-in;

}

.p1-c-w-1-full {
    margin-top: 1rem;
    width: 90%;
    text-align: start;
    color: #5f5353;
    font-size: 16px;
    line-height: 25px;
}

.p1-portal-setting {
    text-align: start;
    color: #282424;
    margin-top: 2rem;
    font-size: 25px;
    margin-left: 3rem;
    font-weight: 800;
}

.p1-showcase-img {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.gsllery-card {
    margin-top: .30rem;
    color: #443333;
    font-weight: 500;
}

.p1-exple {
    color: #fd6f89;
    text-align: start;
    text-decoration: none;
}

.p1-exple:hover {
    color: #000;
    transition: .1s ease-in;
}

@media(max-width:650px) {
    .p1-c-w-1 {
        margin-top: 1rem;
        width: 94%;
        text-align: start;
        color: #5f5353;
        font-size: 14px;
        margin-left: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 25px;
    }

    .p1-portal-setting {
        text-align: start;
        color: #282424;
        margin-top: 2rem;
        font-size: 25px;
        margin-left: 0;
        padding-left: 1rem;
        font-weight: 800;
    }

    .p1-contentns-write {
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 4rem;
    }

    .showcase-img {
        height: 250px;
        width: 200px;
        border-radius: 5px;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
        transition: .3s ease-in;

    }

    #p1-main {
        margin-left: 0rem;
        margin-right: 1rem;
        margin-left: 1rem;
        padding-bottom: 5rem;
    }

    .p1-icons {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        transition: .2s ease-in;

    }

    .all-p1-icons {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
        gap: 10px;
    }

    .Shear-article-with {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #282424;
    }
}

@media(max-width:300px) {
    .p1-icons {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        transition: .2s ease-in;

    }

    .all-p1-icons {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
        gap: 10px;
        flex-direction: column;
    }
}

/* after the page btn for orem and next */
#for-next-and-previous {
    padding-left: 0rem;
    right: 0rem;
    padding-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.previous-article-and-next-ar-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4rem;
    margin-right: 2rem;
    gap: 20px;
}

.title-p1-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border-radius: 15px;
    height: 150px;
    width: 100%;
}

.title-p1-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(198, 0, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 15px;
    height: 150px;
    width: 100%;
    box-sizing: border-box;

}

.prev-article-div {
    width: 90%;
    color: #ffff;
}

.prev-article-title {
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.p1-prev-title {
    color: #efeded;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.for-prev {
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    color: #282424;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 2rem;
    transition: .2s ease-in;
    box-sizing: border-box;

}

.for-next {
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    color: #282424;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-right: 2rem;
    transition: .2s ease-in;
    box-sizing: border-box;
    transition: .2s ease-in;

}

.active{
    padding: 10px 27px;
    padding-left: 25px;
    transition: .2s ease-in;
}
.preactive{
    padding: 10px 27px;
    padding-left: 25px;
    transition: .2s ease-in;
}



@media(max-width:800px) {
    .title-p1-next {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        border-radius: 15px;
        height: 150px;
        width: 90%;
    }

    .title-p1-prev {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(198, 0, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
        border-radius: 15px;
        height: 150px;
        width: 90%;
        box-sizing: border-box;

    }
}

@media(max-width:550px) {
    .previous-article-and-next-ar-div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-bottom: 4rem;
        gap: 20px;
    }
    .title-p1-next {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        border-radius: 15px;
        height: 150px;
        width: 100%;
    }

    .title-p1-prev {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(198, 0, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
        border-radius: 15px;
        height: 150px;
        width: 100%;
        box-sizing: border-box;

    }

    
.prev-article-title {
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #dad2d2;
    padding-left: 2rem;
    padding-right: 2rem;
}

.p1-prev-title {
    color: #727070;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

    
    
}

/* for conversation  */
.p1-category{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.p1-conversation-title{
    font-size: 25px;
    color: #443333;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.become-mwmber{
    font-size: 16px;
    color: #727070;
    font-weight: 500;
    padding-bottom: 2rem;
    text-align: center;
}
.for-signup{
    border: none;
    color: white;
    font-weight: 500;
    padding: 13px 30px;
    background-color: #fd6f89;
    border-radius: 4px;
    transition: .2s ease-in;
    margin-bottom: 3rem;
}
.for-signup:hover{
    background-color: #000000fd;
    transition: .2s ease-in;
}
.already-member{
    color: #727070;
    font-weight: 600;
}
.for-sign-in{
    font-size: 15px;
    color: #FF6481;
    text-decoration: none;
}
.for-sign-in:hover{
    color: black;
}

/* it is for p2 border */
.for-p2-border{
    border-top: 1px solid #585454;
}
.for-p2{
    background: rgb(121,223,221);
background: radial-gradient(circle, rgba(121,223,221,1) 0%, rgba(241,246,243,1) 71%, rgba(243,246,243,1) 72%);
}
.for-next-p2{
    text-decoration: none;
}
.for-prev-p2{
    text-decoration: none;
}

/* for p3 changes */
.for-next-p3{
    text-decoration: none;
}
.for-prev-p3{
    text-decoration: none;
}



/* style for full oage  */
#main-full{
    height: 100%;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 5rem;
}
.main-container-for-full{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-img0-full{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.full-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: white;
    border-radius: 14px;
    margin-top: -5rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.for-full{
    height: 27%;
    width: 95%;
    border-radius: 20px;

}


.header-for-full{
    font-size: 25px;
    color: #262024;
    font-weight: 800;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 10px;
}
.p1-publish-date{
    font-size: 13px;
    font-weight: 700;
    color: #585454;
}
#in-full{
    color: #FF6481;
}
#in-full:hover{
    color: #140e0e;
}

@media(max-width:665px){
    .for-full{
        height: 27%;
        width: 100%;
        border-radius: 2px;
    
    }
    .full-page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 97%;
        height: 100%;
        background-color: white;
        border-radius: 14px;
        margin-top: 0rem;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    
    }
    
}




/* for log in page */
.sign-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}



#input-sign{
    width: 50%;
}
.logo-sign{
    width: 100%;
    height: 100vh;
    position: relative;
}
.all-in-one-place{
    height: 60%;
    width: 60%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -2rem;
}
.all-sign-in-item{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
}
.logo-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-in-sign{
    margin-top: 5rem;
}
.about-logo{
    font-size: 15px;
    margin-top: .50rem;
    color: #443333;
    font-weight: 600;
    margin-bottom: 3rem;
}
.header-sign{
    font-size: 30px;
    font-weight: 700;
    color: #282424;
    text-align: center;
    margin-bottom: 3rem;
}
.color-pink{
    color: #fd6f89;
}
.sign-text{
    font-weight: 400;
    font-size: 19px;
    color: #5f5353;
    margin-bottom: 2rem;

}
.for-sign-page-img{
    height: 100vh;
    width: 500px;
    object-fit: cover;
    object-position: center;
}
.for-sign0in-div{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.sign-input{
    width: 68%;
    height: 59px;
    border: none;
    margin-left: 1rem;
}

.sign-input:focus{
    outline: none;
}
#btn-sign {
    margin-right: .30rem;
    width: 130px;
    height: 46px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    color: rgba(255, 255, 255, 0.864);
    background-color: #FF6481;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    transition: 0.2s ease-in;
    align-self: center;

}

#btn-sign:hover {

    background-color: #000;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.sign0qna{
    font: 14px;
    color: #282424;
    font-weight: 600;
    margin-top: 2rem;
}
.sign-in-now{
    color: #FF6481;
}
.sign-in-now:hover{
    color: #140e0e;
}
@media(max-width:1000px){
    .for-sign-page-img{
        height: 100vh;
        width: 500px;
        object-fit: cover;
        object-position: center;
        display: none;
    }
    .sign-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .all-sign-in-item{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 0px;
        text-align: center;
    }
}
@media(max-width:400px){
    .for-sign0in-div{
        height: 60px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    .sign-input{
        width: 68%;
        height: 59px;
        border: none;
        margin-left: 1rem;
    }
    #btn-sign {
        margin-right: .30rem;
        width: 110px;
        height: 46px;
        padding: 0px 0px;
        border: none;
        color: rgba(255, 255, 255, 0.864);
        background-color: #FF6481;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        border-radius: 4px;
        transition: 0.2s ease-in;
    
    }
    .all-in-one-place{
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media(min-width:1400px){
    .for-sign-page-img{
        height: 100vh;
        width: 800px;
        object-fit: cover;
        object-position: center;
    }
}





/* some changes made for posts 4  */

.p1-post-details-post-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 100%;
}
.img-p1-contain-post-4{
    height:70%;
    object-fit: cover;
    width: 100%;
    object-position: center;
}
.p1-img-4{
    padding: 0;
    margin-top: 3rem;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adjust the blur radius (2px) for a minimal shadow */
    overflow: hidden;
}

@media(max-width:600px){
    .p1-conversation-title{
        font-size: 18px;
        text-align: center;
    }
}

#p5{
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    color: #262024;
}
#p5-blog{
    margin-left: 1rem;
    text-align: start;
    line-height: 25px;
    font-size: 18px;
    color: #585454;
}
#p5-border{
    margin-top: 1.4rem;
}


/* here we starts for tags div  */
.about-our-tags{
    padding-top: 9rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-about-tags{
    height: 80%;
    width: 60%;
    padding-bottom: 2rem;
}
.header-title-for-tag{
    font-size: 30px;
    font-weight: 800;
    color: #443333;
    text-align: center;
    margin-bottom: 2rem;

}
.detail-tags-here{
    font-size: 18px;
    color: #585454;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.all-tags-container{
    height: 100%;
    width: 100%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;


}
.all-tags-div{
    margin-top: 2rem;
    height: 300px;
    width: 77%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}
.tags-last-link{
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.al-tags-img{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: .3s ease-in;
    box-sizing: border-box;

}
.al-tags-img:hover{
    box-shadow: 
        0 0 10px rgba(255, 105, 180, 0.5), /* Light pink */
        0 0 20px rgba(255, 105, 180, 0.7), /* Medium pink */
        0 0 30px rgba(255, 105, 180, 0.9); /* Dark pink */
        transition: .3s ease-in;
}
.t-a-p-c{
    font-size: 16px;
    font-weight: 700;
    color: #443333;
    margin-bottom: 5px;
}
.count-tags-post{
    font-size: 14px;
    font-weight: 500;
    color: #5f5353;
}
.in-tags-main{
    margin-left: 1rem;
    margin-right: 1rem;
}
@media(max-width:1050px){
    .all-tags-div{
        margin-top: 2rem;
        height: 400px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }
}
@media(max-width:700px){
    .all-tags-div{
        margin-top: 2rem;
        height: 500px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }
    .all-about-tags{
        height: 80%;
        width: 80%;
        padding-bottom: 2rem;
    }
}
@media(max-width:470px){
    .all-tags-div{
        margin-top: 2rem;
        height: 600px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }
    #tags-last-link{
        height: 150px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-left: 0rem;
        margin-right: 0rem;
        flex-direction: column;
    }
    .all-about-tags{
        height: 80%;
        width: 96%;
        padding-bottom: 2rem;
    }
    .header-title-for-tag{
        font-size: 20px;
        font-weight: 800;
        color: #443333;
        text-align: center;
        margin-bottom: 2rem;
    
    }

}

@media(max-width:280px){
    .all-tags-div{
        margin-top: 2rem;
        height: 90%;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }
}



