@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0%;
}

body{
    background-color: #fddee1fb;

}

/* for navbar */
.main-nav {
    z-index:3;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(194, 191, 191, 0.103);

}

.logo{
    height: 43px;
    width: 169px;
    object-fit: cover;
    object-position: center;
}
.search-icon{
    margin-left: 2rem;
    text-decoration: none;
    font-size: 17px;
    font-family: "Urbanist", sans-serif;    color: #FF6481;
}
.search-text{
    color: black;
    margin-left: 10px;
}
.sidebar{
    margin-right: 2rem;
    height: 29px;
    width: 29px;
    cursor: pointer;
}
#sidebar:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: ease-in 0.4s;
}

@media (max-width:750px) {
    .logo{
        height: 36px;
        width: 139px;
        object-fit: cover;
        object-position: center;
    }
    .search-text{
        color: black;
        display: none;
    }
}
@media (max-width:450px) {
    .logo{
        height: 27px;
        width: 110px;
        object-fit: cover;
        object-position: center;
    }
    .search-text{
        color: black;
        display: none;
    }
}
@media (max-width:350px) {
    .logo{
        height: 20px;
        width: 90px;
        object-fit: cover;
        object-position: center;
    }
    .search-text{
        color: black;
        display: none;
    }
    .sidebar{
        margin-right: 1rem;
    }
    .search-icon{
        margin-left: 1rem;
    }
}


/* //for searcch bar appear */

.searchApper {
    font-family: "urbanist" sans-serif;
    position: absolute;
    top: 40%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Adjust for centering */
    height: 70px;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 99;
    display: none;
}
.take-in-and-search{
    width: 90%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#searchShow{
    padding: 20px;
    border: none;
    width: 100%;
    font-size: medium;
    font-family: "urbanist" sans-serif;
    color: #282424;
}
#searchShow:focus{
    outline: none;
}
input::placeholder{
    font-size: 16px;
    color: #888889;
}
.cancle{
    margin-right: 10px;
    display: none;
}
.s-icon{
    padding-left:2rem ;
}
#search-icon{
    font-size: 19px;
    color: #FF6481;
}

.blur{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust for centering */
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);
    background-color: #514c4c7c;
    display: none;
}




/* //forsidebar */

/* using the categori icon for reletive */

#sidebar{
    position: relative;
}


.siderBar-appear{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    z-index: 9999;
    display: none;
    overflow: auto;
}
.for-side-logo{
    margin-top: 4rem;
}

.list-of-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 3rem;
    gap: 13px;
}
.links{
    text-decoration: none;
    color: #282424;
    padding: 15px;
}
.links:hover{
    text-decoration: underline #282424;
}
.lo-and-sub{
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.log-in{
    text-decoration: none;
    height: 26px;
    width: 100px;
    margin-right: 1rem;
    color: #282424;
    font-weight: 500;
}
.log-in:hover{
color: #FF6481;
}
.subscribe{
    text-decoration: none;
    height: 34px;
    width: 143px;
    background-color: #FF6481;
    color: white;
    padding: 5px 22px;
    border-radius: 3px;
}
.subscribe:hover{
    background-color: #282424;

}

/* icon for closing sidebar */
.icon-close{
    padding: 10px 15px;
    font-weight: lighter;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #FF6481;
    color: white;
    position: absolute;
    top: 10%;
    right: 0;
    transition: .3s ease-in-out;

}

.icon-close:hover{
    padding-right: 26px;
    transition: .3s ease-in-out;
}

.dark{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.358);
    pointer-events: none;
    display: none;
    z-index: 100;
}


/* from here started body content  */
main{
    padding-left: 2rem;
    right: 2rem;
}
.introducton{
    padding-top: 5rem;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Urbanist", sans-serif; 
    gap: 30px;
}

.intro{
    width: 50%;
    /* margin-left: 3rem; */
}
.name{
    margin-top: -2rem;
    font-size: 30px;
    font-family: "Urbanist", sans-serif; 
    padding-bottom: 2rem;
}
.clr-name{
    color: #FF6481;
    font-weight: 700;
}
.about{
    font-size: 17px;
    color: #282424;
    line-height: 30px;
    font-family: "Urbanist", sans-serif;  
    padding-bottom: 2rem; 
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 2rem; */
}


.hero{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    animation-name: dance;
    animation-duration: 30s;
    animation-timing-function: linear; /* Use linear timing function for smoothness */
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}
@keyframes dance {
    0% {
      border-radius: 88% 49% 82% 23% / 52% 66% 34% 79% ; /* Start with a circular shape */
    }
  20% {
      border-radius: 88% 87% 82% 38% / 52% 15% 74% 79% ; /* Keep it circular during the animation */
    }
    40% {
      border-radius: 88% 87% 82% 100% / 32% 83% 0% 79% ; /* Still circular */
    }
    60% {
      border-radius: 41% 61% 100% 100% / 0% 100% 0% 100% ; /* Maintain circularity */
    }
    80% {
      border-radius: 84% 0% 100% 63% / 69% 32% 82% 100% ; /* End with a circular shape */
    }
    100%{
      border-radius: 49% 34% 100% 63% / 69% 74% 41% 100% ;
    }
  }
.input-div{
    margin-top: 3rem;
    height: 54px;
    width: 99%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.connet-p{
    position: absolute;
    top: -2rem;
    left: 0;
    padding-bottom: 1rem;
 
}
.connet{

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #282424;
    overflow: hidden;
}

#email{
    width: 70%;
    height: 50px;
    border: none;
    margin-left: 1rem;
}
#email:focus{
    outline: none;
}
#btn{
    margin-right: .40rem;
    width: 144px;
    height: 44px;
    padding: 5px 22px;
    border: none;
    color: rgba(255, 255, 255, 0.864);
    background-color: #FF6481;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
}
  @media(max-width:780px){
    #introducton{
        margin-top: 5rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Urbanist", sans-serif; 
        gap: 50px;
        flex-direction: column-reverse;
        overflow: hidden;
    }
    
    .intro{
        margin-top: 4rem;
        padding-bottom: 4rem;
        width:100%;
        height: 100%;
        padding: 0px 20px;
    }
    .input-div{
        margin-top: 3rem;
        margin-bottom: 4rem;
        height: 54px;
        width: 99%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        position: relative;
        z-index: 1;
    }
    

    
  }


/* for topics */

.tranding-topic{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Urbanist", sans-serif;  
    position: relative;
}
.tranding-topics-header{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #282424;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}
.tranding-topics-header .fa-bolt{
    color: #FF6481;
}
.topic-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
}
.topic-name{
    position: absolute;
    bottom: -2.3rem;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 600;
    font-size: 14px;
    padding-top: .50rem;
}
.topic-img-div{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;

}
.post-count{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #f8f1f1;
    background-color: #FF6481;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -.11rem;
    font-family: "Urbanist", sans-serif;  

}

.all-topic-in-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 150px;
    background-color: #ffff;
    border-radius: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#topic-container-last{
    display: none;
}
#main-2{
    margin: 0;
    padding: 0;
}
@media(max-width:800px){
    .tranding-topic{
        padding-top: 5rem;
        padding-bottom: 4rem;
        height: 100%;
        width: 100%;
        font-family: "Urbanist", sans-serif;  
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #all-topic-in-one{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        width: 100%;
        height:340px;
        background-color: #ffff;
        align-self: center;
        border-radius: 0%;
    }
    .topic-img{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        position: relative;
    }
    .topic-name{
        position: absolute;
        bottom: -2.3rem;
        left: 50%;
        transform: translate(-50%, -50%);
    
        font-weight: 600;
        font-size: 14px;
        padding-top: .30rem;
    }
    .post-count{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: #f8f1f1;
        background-color: #FF6481;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -.11rem;
        font-family: "Urbanist", sans-serif;  
    
    }
    #topic-container-last{
        display: flex;
    }
    
}



/* for post divs */
.post-container{
    height: 100%;
    width: 100%;

}
.posts-div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-1{
    height: 320px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    gap: 30px;
    border-radius: 15px;
    position: relative;


}
.tag-above-img{
    position: absolute;
    top: 20%;
    left: 10px;
    padding: 10px 25px;
    background-color: rgb(8, 165, 165);
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;  
    font-weight: 700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    transition: .3s ease-in;

}
.tag-above-img:hover{
    padding: 10px 30px;
    transition: .3s ease-in;
}
.post-img{
    height: 299px;
    width: 266px;
    border-radius: 15px;
    padding: 10px;
}

#main-3{
    margin: 0;
    padding: 0;
}
/* .read-time{
    display: flex;
    justify-content:start;
    align-items:flex-start;
    gap: 20px;
} */
.about-post-1{
    width: 80%;
    height: 299px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-family: "Urbanist", sans-serif;
}

.clock{
    font-size: medium;
    color: #FF6481;
}
.time-to-read{
    margin-bottom: 2rem;
    font-size: 14px;
    color: #727070;
}
.title{
    font-size: 24px;
    color: #282424;
    font-weight: 800;
    margin-bottom: 2rem;
}
.post-content{
    line-height: 30px;
    color: #282424;
}
.tags-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tags-in-post{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tag-1 {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.tag-1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    text-align: center;
    height: 6px;
    width: 6px;
    background-color: rgb(9, 207, 207);
    border-radius: 50%;
    transition: .2s ease-in;
}

.tag-1:hover::before {
    height: 7px;
    width: 10px;
    transition: .2s ease-in;
    border-radius: 50%;
    /* Adjust color opacity on hover if needed */
}

.tag-2{
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    position: relative;

}
.tag-2::before{
    content: '';
    position: absolute;
    top:40%;
    left: -15px;
    text-align: center;
    height: 6px;
    width: 6px;
    background-color: rgb(207, 9, 151);
    border-radius: 50%;
    transition: .2s ease-in;

}
.tag-2:hover::before {
    height: 7px;
    width: 10px;
    transition: .2s ease-in;
    background-color: rgb(207, 9, 151);
    border-radius: 50%;

    /* Adjust color opacity on hover if needed */
}
.authors-div{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 20%;
    gap: 10px;
    margin-right: 1rem;
}
.author-name{
    font-size:14px ;
    font-weight: 900;
}
.author-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;

}